<a href="https://colab.research.google.com/github/qzaq5985/sm05/blob/master/wk03/ch2_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [Q1]
홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

국어 = a
영어 = b
수학 = c

In [2]:
# [Q1]

a = 80 
b = 75
c = 55

print((a+b+c)/3)

70

## [Q2] 
자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [0]:
# [Q2]

if 13 % 2 == 1:
  print(" 홀수 ")
else:
  print(" 짝수 ")

13 % 2 = 1 (참)

##[Q3] 
홍길동 씨의 주민등록번호는 881120-1068234이다. 
홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [7]:
# [Q3]

pin = "881120-1068234"

yyyymmdd = a[:-8]
num = a[-7:]
print (b)
print (c)

881120
1068234

## [Q4]
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.
 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [8]:
# Q[4]

pin = "881120-1068234"

if pin[7] == "1":
  print("남자")
else:
  print("여자")

남자

## [Q5] 
다음과 같은 문자열 a:b:c:d가 있다.
 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [11]:
# a = "a:b:c:d"

a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

## [Q6] 
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [16]:
# [Q6]

a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

## [Q7] 
['Life', 'is', 'too', 'short'] 리스트를
 Life is too short 문자열로 만들어 출력해 보자.

In [17]:
# [Q7]

a = ["Life", "is", "too", "short"]
result = " ".join(a)
print(result)

Life is too short

## [Q8] 
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [18]:
# [Q8]

a = (1,2,3)
b = (4, )
c = a+b
print(c)

(1, 2, 3, 4)

## [Q9]
다음과 같은 딕셔너리 a가 있다.
###a = dict()
###a
###{}

#### 다음중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
##### 1. a['name'] = 'python'
##### 2. a[('a',)] = 'python'
##### 3. a[[1]]    = 'python'
##### 4. a[250]    = 'python'

In [0]:
# [Q9]

3. 딕셔너리 key에는리스트를 쓸수없다. 그 이유는 list 값이변할수 있기때문이다.

## [Q10] 
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
 a = {'A':90, 'B':80, 'C':70}

In [20]:
# Q[10]

a = {'A:' :90, 'B' : 80, 'C' : 70}
result = a.pop("B")
print(a)
print(result)

{'A:': 90, 'C': 70}
80

## [Q11]
a 리스트에서 중복 숫자를 제거해 보자.

In [21]:
#Q[11] 
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
a1 = list(aSet)
print(a1)

[1, 2, 3, 4, 5]

## [Q12]
### 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.

### 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면
### b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [26]:
# Q[12]

a = b = [1, 2, 3]
a[1]=4
print(b)
print("a의 주소값:")
print(id(a))
print("b의 주소값:")
print(id(b))

[1, 4, 3]
a의 주소값:
140542208076904
b의 주소값:
140542208076904

#### [1,4,3] 이 출력된다. 그 이유는 a와 b의 주소가 같기 때문에 a값을 바꾸면 같은 주소인 b값도 바뀌게 되기 때문이다.